################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Practica 1/Division/.vs/Division/v15
/Practica 2/Practica 2/.vs/Practica 2/v15/Browse.VC.opendb
